#contact
  margin-bottom 60px
  form 
    input[type='text']
      width 100%
      padding .25rem
      box-sizing border-box
      border 1px solid $line-color
      border-radius 0
      outline none
      background none
      appearance none
      &.error
        border 1px solid $primary-hover-color
    input[type='email']
      width 100%
      padding .25rem
      box-sizing border-box
      border 1px solid $line-color
      border-radius 0
      outline none
      background none
      appearance none
      &.error
        border 1px solid $primary-hover-color
    textarea
      width 100%
      min-height 240px
      padding .25rem
      border 1px solid $line-color
      border-radius 0
      outline none
      appearance none
      resize none
      background transparent
      appearance none
    span
      width 100% !important
  .privacy
    border 1px solid $line-color
    margin-bottom 50px
    padding 15px
    height 240px
    overflow auto
    .privacy-title
      font-size 1.2rem
      font-weight 500
      text-align center
  .btn
    width 100%
    margin-bottom 20px