breakpoint(bpName)
  for name in bpName
    if name == 'sm'
      @media only screen and (max-width: $screen-sm)
        {block}
    if name == 'md'
      @media only screen and (max-width: $screen-md)
        {block}
    if name == 'lg'
      @media only screen and (max-width: $screen-lg)
        {block}