#news 
  ul
    list-style-type none
  .media
    position relative
    padding 1.25rem
    margin-bottom 30px
    border-radius .25rem
    border 1px solid $line-color
    .media-image
      width 128px
      height 128px
      margin-right 1.25rem
      background-color #ccc
    .btn
      position absolute
      bottom 1.25rem