section(id="company" class="container")
  .row
    div(class="col-12 col-lg-12 col-md-12 col-sm-12")
      h3.title Company Profile
  .row
    div(class="col-12 col-lg-12 col-md-12 col-sm-12")
      table(class="table table-bordered")
        tbody
          tr
            th(scope="row" class="align-middle") Company Name
            td.align-middle Company Name
          tr
            th(scope="row" class="align-middle") Established
            td.align-middle June 2020
          tr
            th(scope="row" class="align-middle") Capital
            td.align-middle JPY 99 million
          tr
            th(scope="row" class="align-middle") President
            td.align-middle Taro Yamada
          tr
            th(scope="row" class="align-middle") Employees
            td.align-middle 100 (as of March 2020)
          tr
            th(scope="row" class="align-middle") Annual turnover
            td.align-middle JPY 1 billion (Fiscal Year 2020)
          tr
            th(scope="row" class="align-middle") Annual turnover
            td.align-middle
              ul
                - for (var x = 0; x < 5; x++)
                  li IT systems and services
          tr
            th(scope="row" class="align-middle") Address
            td.align-middle 8-1 Nishi-Shinjuku 2-chome, Shinjuku-ku, Tokyo 163-8001