footer#footer
  .container
    .row
      div(class="col-12 col-lg-12 col-md-12 col-sm-12")
        p.copyright Copyright © WordPress Sample. All Rights Reserved.
          ul
            li: a(href="#" target="_blank") 
              i(class="fab fa-facebook-f")
            li: a(href="#" target="_blank") 
              i(class="fab fa-twitter")
            li: a(href="#" target="_blank")
              i(class="fab fa-instagram")