section(id="map" class="container")
  .row
    div(class="col-12 col-lg-12 col-md-12 col-sm-12")
      h3.title Map
  .row
    div(class="col-12 col-lg-12 col-md-12 col-sm-12")
      div(class="embed-responsive embed-responsive-21by9").
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13164.33912587252!2d139.68918574924643!3d35.68488078197146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd0d6b1ba1f%3A0x1c32a1f1ecacfdd5!2z5paw5a6_6aeF!5e0!3m2!1sja!2sjp!4v1600849499947!5m2!1sja!2sjp" width="100％" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>