section(id="pickup" class="container")
  .row
    div(class="col-12 col-lg-12 col-md-12 col-sm-12")
      h3.title Pickup
  .row
    - for (var x = 0; x < 7; x++)
      div(class="col-12 col-lg-3 col-md-4 col-sm-12")
        .card
          div(class="bd-placeholder-img card-img-top")
            .card-image
              img(src="image/dummy.png")
          .card-body
            p.card-title
              span.fw500 Service Title
            p.card-text Lorem ipsum dolor sit amet, consectetur adip…
            a(href="/single.html" class="btn btn-primary rounded-pill") Button
  div(class="row justify-content-center mt10 mb30")
    div(class="col-8 col-lg-6 col-md-6 col-sm-8")
      a(href="/service.html" class="btn btn-light rounded-pill more-btn") More