section(id="service" class="container")
  .row
    div(class="col-12 col-lg-12 col-md-12 col-sm-12")
      h3.title Service1       
  div(class="row mb50")
    - for (var x = 0; x < 6; x++)
      div(class="col-12 col-lg-3 col-md-4 col-sm-12")
        .card
          div(class="bd-placeholder-img card-img-top")
            .card-image
              img(src="image/dummy.png")
          .card-body
            p.card-title
              span.fw500 Service Title
            p.card-text Lorem ipsum dolor sit amet, consectetur adip…
            a(href="/single.html" class="btn btn-primary rounded-pill") Button
  .row
    div(class="col-12 col-lg-12 col-md-12 col-sm-12")
      h3.title Service2            
  div(class="row mb50")
    - for (var x = 0; x < 3; x++)
      div(class="col-12 col-lg-3 col-md-4 col-sm-12")
        .card
          div(class="bd-placeholder-img card-img-top")
            .card-image
              img(src="image/dummy.png")
          .card-body
            p.card-title
              span.fw500 Service Title
            p.card-text Lorem ipsum dolor sit amet, consectetur adip…
            a(href="/single.html" class="btn btn-primary rounded-pill") Button
  .row
    div(class="col-12 col-lg-12 col-md-12 col-sm-12")
      h3.title Service3            
  div(class="row mb50")
    - for (var x = 0; x < 4; x++)
      div(class="col-12 col-lg-3 col-md-4 col-sm-12")
        .card
          div(class="bd-placeholder-img card-img-top")
            .card-image
              img(src="image/dummy.png")
          .card-body
            p.card-title
              span.fw500 Service Title
            p.card-text Lorem ipsum dolor sit amet, consectetur adip…
            a(href="/single.html" class="btn btn-primary rounded-pill") Button                        