section#single
  div(class="container mb80")
    .row
      div(class="col-12 col-lg-12 col-md-12 col-sm-12")
        h3.title title1
    .row
      div(class="col-12 col-lg-6 col-md-6 col-sm-12")
        p.image
          img(src="image/dummy.png")
      div(class="col-12 col-lg-6 col-md-6 col-sm-12")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
  div(class="container mb80")
    .row
      div(class="col-12 col-lg-12 col-md-12 col-sm-12")
        h3.title title2
    .row
      div(class="col-12 col-lg-6 col-md-6 col-sm-12")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d    
      div(class="col-12 col-lg-6 col-md-6 col-sm-12")
        p.image
          img(src="image/dummy.png")
  div(class="container mb80")
    .row
      div(class="col-12 col-lg-12 col-md-12 col-sm-12")
        h3.title title3
    .row
      div(class="col-12 col-lg-6 col-md-6 col-sm-12")
        p.image
          img(src="image/dummy.png")
      div(class="col-12 col-lg-6 col-md-6 col-sm-12")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d