extends include/_layout.pug

block head
  - var title = 'Send Complete – WordPress Sample'
  - var description = 'Send Complete Page Description'
  - var keywords = 'Send Complete Page Keywords'

block main
  block mainVisual
    - var pageName = 'Send Complete'
    - var pageTitle = 'Send Complete'
    - var text = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore'
    include include/_main-visual.pug
  include include/_pickup.pug