/*
  Theme Name: sample
*/

// color
$primary-color = #2c2c54
$primary-hover-color = #3a3a70
$light-color = #f1f1f1
$line-color = rgba(0, 0, 0, .125)

// breakpoint
$screen-sm = 767.98px
$screen-md = 991.98px
$screen-lg = 1199.98px

@import 'include/_base'
@import 'include/_header'
@import 'include/_main-visual'
@import 'include/_pickup'
@import 'include/_top-news'
@import 'include/_service'
@import 'include/_news'
@import 'include/_company'
@import 'include/_map'
@import 'include/_contact'
@import 'include/_single'
@import 'include/_footer'